/*/*header*/

.header-bg{
	background-image: url(../images/banner.jpg);
	width: 100%;
	height: 324px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 90px;

}
.container{
	max-width: 1089px;
	margin: 0 auto;
	width: 100%;
	padding: 0 10px;
}
.nav{
	padding-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.nav-ul{
	display: flex;
 }
.title1{
	color: #FFFFFF;
	font: 14px;
	display: inline-block;
	font-family: 'Poppins', sans-serif;
}
.title2{
	margin-top:96px;
	font-size: 42px;
	color: #FFFFFF;
	font-family: 'Poppins', sans-serif;
	
}

.nav-li{
    margin-right: 47px;
}
.nav-a{
	color: #FFFFFF;
	font-size: 12px;
	font-family: 'Poppins', sans-serif;
}

/*section1*/
.container1{
	width: 1088px;
	margin:0 auto;
	display: flex;
	align-items: center;

}
.left-block{
	max-width: 444px;
	width: 100%;
	margin-right: 100px;
	vertical-align: middle;

}
.right-block{
	max-width: 536px;
	width: 100%;
	vertical-align: middle;
}


.title3{
	font-size: 14px;
	color:#5863F8;
	font-family: 'Poppins', sans-serif;
	margin-top:128px;
}


.title4{
	font-size: 42px;
	font-family: 'Poppins', sans-serif;
	margin-right: 70px;
	padding-bottom: 10px;
	font-weight: bold;

}


.text1 {
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	padding-bottom: 10px;

}
.text2{
	font-size: 14px;
	font-family: 'Poppins', sans-serif;

}
.read{
	width: 184px;
	height: 50px;
	margin-top: 20px;
	font-size: 14px;
	background-color: blue;
	display: flex;
	justify-content: center;
	align-items: center;

}
.container1 a{
	color:#FFFFFF;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
}
.img1{
	margin-right:10px ;
}


/*section-bg*/
.section-bg{
	background-image: url(../images/banner2.jpg);
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 96px;
	padding-bottom: 91px;
	margin-top: 90px;
}
.title5{
	font-size: 14px;
	color: #5863F8;
	font-family: 'Poppins', sans-serif;


}
.title6{
	font-size: 42px;
	color: #FFFFFF;
	font-family: 'Poppins', sans-serif;
	max-width: 376px;
	font-weight: bold;

}
.container2{
	max-width: 1088px;
	width: 100%;
	margin: 0 auto;

}
.block1{
	width: 260px;
	height: 260px;
	background-color:#FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.box-wraper{
	display: flex;
	justify-content: space-between;
	margin-top: 35px;
	flex-wrap: wrap;
}
.icon{
	width: 59px;
	height: 58px;
	background-color: #5863F8;
	border-radius: 50px;
	display:flex;
	justify-content: center;
	align-items: center;

}
.block1 p {
	width: 221px;
	text-align: center;
}
.container2 h2{
	margin-top:15px;
	margin-bottom: 22px;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	width: 160px;
	height: 50px;
	text-align: center;
}
	

.burger{
	font-size: 30px;
	color:#FFFFFF;

}
.burger-icon{
	display: none;
}